{{> head }}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Sri Lanka</h1>
        </div>

        <div class="col-8">
            <img src="/assets/img/about.jpg" class="img-thumbnail" width="800px"/>
        </div>
        
    </div>

{{> footer }} 